*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: dreams;
    src: url(CaviarDreams.ttf);
}
.dreams{
    font-family: dreams;
}